[user]
	name = miwanczuk
	email = Michal.Iwanczuk@empik.com
[alias]
	st = status
	br = branch
	cm = commit --no-verify -m
	cp = cherry-pick
	ch = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
