[user]
  name = miwanczuk
  # configure this in bashrc - env specific
  # email = michal.iwanczuk@empik.com
[alias]
	st = status
	br = branch
	cm = commit --no-verify -m
	cp = cherry-pick
	ch = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
  [core]
  editor = vim
